.space {
    margin-bottom: 40px;
}
nav {
    background:var(--color-primary);
    padding: 0.7rem 1.7rem;
    z-index: 2;
    position: fixed;
    gap: 0.8rem;
    display: flex;
}

nav > link{
    background: transparent;
    border-radius: 50%;
    color: var(--color-light);
    font-size: 1.1rem;
}
nav a:hover {
    background: rgba(0, 0, 0, 0.3);
    text-decoration: none;
    cursor:pointer;
}

nav link.active {
    background: var(--color-primary);
    color: var(--color-bg);
}